<h3>Love Notes to the NewlyWeds</h3>
<% @notes.each do |note| %>
  <div class="col-md-6 center">
    <div class="well">
      <% if note.image %>
      <span class="love-image"><%= image_tag(note.image_url(:thumb)) %></span>
      <% end %>
      <% if note.note %>
      <span class="love-text"><%= note.note %></span>
      <% end %>
      <span class="from-text">
      With love, <%= User.find(note.user_id).name %>
      </span>
    </div>
  </div>
<% end %>
