<h3>Love Notes to the NewlyWeds</h3>
<%= link_to "Leave a Note", new_love_note_path, class: "btn btn-primary btn-sm title-font" %>
<br>
<br>
<% @notes.each do |note| %>
  <div class="col-md-6 center">
    <div class="well">
      <% if note.image %>
      <span class="love-image"><%= image_tag(note.image_url(:thumb)) %></span>
      <% end %>
      <% if note.note %>
      <span class="love-text title-font"><%= note.note %></span>
      <% end %>
      <span class="from-text">
      <br>
      <p class="from-note title-font">With love,
        <br><%= User.find(note.user_id).name %></p>
      </span>
    </div>
  </div>
<% end %>
