<div class="jumbotron">
  <div class="container">
    <h1 class="jumbo-header title-font">Theresa and Anh</h1>
  </div>
</div>

<div class="container center">
  <div class="row">
    <div class="col-md-4">
      <div class="well home-left well-text">
        <br>
        <br><%= link_to "Photos/Videos" %></br>
        <br>
    </div>
    </div>
    <div class="col-md-4">
      <div class="well home-middle well-text">
        <br>
        <br><%= link_to "HoneyFund" %></br>
        <br>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well home-right well-text">
        <br>
        <br><%= link_to "Love Thread", love_notes_path, class: "title-font" %></br>
        <br>
      </div>
    </div>
</div>
