/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.search-results {
  list-style: none;
}
.sign-in-box {
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 500px;
  background-color: white;
  display: block;
  text-align: center;
  opacity: 0.9;
}

.title-font, h3 {
  font-family: Pacifico, cursive;
}

.well-text {
  font-family: Pacifico, cursive;
  color: white;
  font-size: 20px;
}

.from-note {
  text-align: right;
}

.sign-in {
  color: black;
}

span.just-right {
  text-align: right;
  list-style: none;
}

body {
  background-color: gray;
}

.center {
  text-align: center;
}

// HOME PAGE --------------------------------------------------------
.home-left, .home-right {
  background-image: url("bouquet.jpg");
  background-size: cover;
  padding-top: 20px;
  margin-top: 20px;
  border: none;
  background-position: 3px;
}

.home-middle {
  background-image: url("lantern.jpg");
  background-size: cover;
  padding-top: 20px;
  margin-top: 20px;
  border: none;
}

.jumbotron {
  background-image: url("TandA.jpg");
  background-size: contain;
  position: relative;
  margin-top: -20px;
  width: 100%;
  height: 400px;
  background-color: gray;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

// FOOTER -------------------------------------------------------
.navbar {
  padding-left: 30px;
  padding-right: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.text-muted {
  margin: 16px;
  text-align: center;
  color: #696B6B;
}

// Link Styles -----------------------------------------------
a:link {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}
